# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.log
*.pid
*.bak
*.swp
docker-compose.override.yml

# Node modules (if using a frontend framework)
node_modules/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Pytest
.cache/
.coverage
htmlcov/

# Kubernetes
*.yaml~
